NewsApp_Client/Connected Services/CategoryServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NewsApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_EditCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_EditCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetAllCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetAllCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryService">
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/AddCategory" message="tns:ICategoryService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/AddCategoryResponse" message="tns:ICategoryService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/EditCategory" message="tns:ICategoryService_EditCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/EditCategoryResponse" message="tns:ICategoryService_EditCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetCategory" message="tns:ICategoryService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryResponse" message="tns:ICategoryService_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetAllCategory" message="tns:ICategoryService_GetAllCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetAllCategoryResponse" message="tns:ICategoryService_GetAllCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/DeleteCategory" message="tns:ICategoryService_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/DeleteCategoryResponse" message="tns:ICategoryService_DeleteCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoryService" type="tns:ICategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/EditCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetAllCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="BasicHttpBinding_ICategoryService" binding="tns:BasicHttpBinding_ICategoryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/NewsApp/CategoryService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>