NewsApp_Client/Connected Services/NewsServiceRef/NewsApp.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewsApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewsApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PublishedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlToImage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
</xs:schema>