NewsApp_Client/Connected Services/NewsServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="NewsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NewsApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsService_AddNews_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_AddNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetAllNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetAllNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_EditNews_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_EditNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_DeleteNews_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_DeleteNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsService">
    <wsdl:operation name="AddNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/AddNews" message="tns:INewsService_AddNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/AddNewsResponse" message="tns:INewsService_AddNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetAllNews" message="tns:INewsService_GetAllNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetAllNewsResponse" message="tns:INewsService_GetAllNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/EditNews" message="tns:INewsService_EditNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/EditNewsResponse" message="tns:INewsService_EditNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/DeleteNews" message="tns:INewsService_DeleteNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/DeleteNewsResponse" message="tns:INewsService_DeleteNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetNews" message="tns:INewsService_GetNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetNewsResponse" message="tns:INewsService_GetNews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsService" type="tns:INewsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/AddNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetAllNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/EditNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/DeleteNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsService">
    <wsdl:port name="BasicHttpBinding_INewsService" binding="tns:BasicHttpBinding_INewsService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/NewsApp/NewsService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>